{% extends 'base.html' %}

{% block content %}
<table>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Position</td>

    <body>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.Firstname}}</td>
            <td>{{employee.Lastname}}</td>
            <td>{{employee.Position}}</td>
            <td>
                <a href="{% url 'delete' employee.id %}">DELETE</a>
                <a href="{% url 'update' employee.id %}">EDIT</a>
            </td>
            
        </tr>
        {% endfor %}
    </body>
</table>

{% endblock %}